
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>m-cart by Manik Kamra</title>
    <meta charset="utf-8">
    <meta name="author" content="Script Tutorials" />

    <!-- Linking styles -->
    <link rel="stylesheet" href="C:\Users\savvy\Desktop\Manik ka Project/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="C:\Users\savvy\Desktop\Manik ka Project/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="C:\Users\savvy\Desktop\Manik ka Project/nivo-slider.css" type="text/css" media="screen">

    <!-- Linking scripts -->
    <script src="C:\Users\savvy\Desktop\Manik ka Project/jquery.js"></script>
    <script src="C:\Users\savvy\Desktop\Manik ka Project/jquery.nivo.slider.pack.js"></script>   
    <script src="C:\Users\savvy\Desktop\Manik ka Project/main.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="C:\Users\savvy\Desktop\Manik ka Project"></script>
    <![endif]-->
</head>
<body>

<div class="container">

        <header><!-- Defining the header section of the page -->

            <nav><!-- Defining the navigation menu -->
                <ul>
                    <li class="selected"><a href="#">Home</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">All Products</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Login</a></li>
                    
                </ul>
            </nav>


            <div class="top_head"><!-- Defining the top head element -->
                <div class="logo"><!-- Defining the logo element -->
                    <a href="https://www.script-tutorials.com/">
                        <img src="C:\Users\savvy\Desktop\Manik ka Project\b1.png" style="height:50px width:50px" title="E-Store template" alt="E-Store template" />
                    </a>
                </div>

                <section id="search"><!-- Search form -->
                    <form action="#" onsubmit="return false;" method="get">
                        <input type="text" onfocus="if (this.value =='Search..' ) this.value=''" onblur="if (this.value=='') this.value='Search..'" value="Search.." name="q">
                        <input type="submit" value="Search">
                    </form>

                   
                </section>
            </div>

          

        </header>

        <div id="slider2"><!-- Defining the main content section -->

        

        <div id="main"><!-- Defining submain content section -->
            <section id="content"><!-- Defining the content section #2 -->
                <div id="left">
                    <h3>Latest products</h3>
                    <ul>
                        <li>
                            <div class="img"><a href="#"><img alt="" src="C:\Users\savvy\Desktop\Manik ka Project\j1.jpeg"></a></div>
                            <div class="info">
                                <a class="title" href="#">Spykar Skinny Men's Blue Jeans</a>
                               
                                <div class="price">
                                    <span class="st">Our price:</span><strong>₹3,458</strong>
                                </div>
                                <div class="actions">
                                    <a href="#">Details</a>
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img alt="" src="C:\Users\savvy\Desktop\Manik ka Project\j2.jpeg"></a></div>
                            <div class="info">
                                <a class="title" href="#">Jack & Jones Slim Men's Black Jeans</a>
                                
                                <div class="price">
                                    <span class="st">Our price:₹7,797</span><strong></strong>
                                </div>
                                <div class="actions">
                                    <a href="#">Details</a>
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img alt="" src="C:\Users\savvy\Desktop\Manik ka Project\adidas.jpeg"></a></div>
                            <div class="info">
                                <a class="title" href="#">Adidas PUREBOOST ZG M Running Shoes  (Black)</a>
                                
                                <div class="price">
                                    <span class="st">Our price:</span><strong>₹9,499</strong>
                                </div>
                                <div class="actions">
                                    <a href="#">Details</a>
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img alt="" src="C:\Users\savvy\Desktop\Manik ka Project\nike.jpeg"></a></div>
                            <div class="info">
                                <a class="title" href="#">Nike Men's T-Shirt</a>
                               
                                <div class="price">
                                    <span class="st">Our price:</span><strong>₹2,556</strong>
                                </div>
                                <div class="actions">
                                    <a href="#">Details</a>
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img alt="" src="C:\Users\savvy\Desktop\Manik ka Project\john.jpeg"></a></div>
                            <div class="info">
                                <a class="title" href="#">Peter England Men's Formal Dark Shirt</a>
                                
                                <div class="price">
                                    <span class="st">Our price:</span><strong>₹1499</strong>
                                </div>
                                <div class="actions">
                                    <a href="#">Details</a>
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="#"><img alt="" src="C:\Users\savvy\Desktop\Manik ka Project\puma.jpeg"></a></div>
                            <div class="info">
                                <a class="title" href="#">Puma Sleeveless Solid Men's Jacket</a>
                            
                                <div class="price">
                                    <span class="st">Our price:</span><strong>₹2,379</strong>
                                </div>
                                <div class="actions">
                                    <a href="#">Details</a>
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


    <footer><!-- Defining the footer section of the page -->
        <div id="privacy">
            m-cart  <a class="link" href="">Privacy Policy</a><br />
            <a class="link" href="">by Manik Kamra</a>
        </div>
    </footer>

</div>

</body></html>